[user]
	name = Noah Hendrix
	email = noahhendrix@gmail.com
[mergetool]
	keepBackup = true
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	precomposeunicode = true
[push]
	default = current
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.local
